
{% extends "master.html" %}
{% load static %}


{% block title %} Detalles Nodo {% endblock %}

{% block main %}

<div class="p-2 table-responsive small borde panel-izquierdo">

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Fecha/Hora</th>
                <th scope="col">operacion</th>
                <th scope="col">id_nodo</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            {% for oper in page_obj %}
            <tr>
                <td>{{oper.timestamp}}</td>
                <td>{{oper.operacion}}</td>
                <td>{{oper.id_nodo}}</td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="{{oper.id_nodo}}">
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Ultima &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<div class="d-flex flex-column p-2 borde flex-grow-1 ">

    <div class="p-2 borde chart-1 sep-bloque color">{{ nodo.llave }}</div>
    <div class="p-2 borde chart-1 sep-bloque color">{{ nodo.model }}</div>
    <div class="p-2 borde chart-1 sep-bloque color">{{ nodo.grupo }}</div>
    <div class="p-2 borde chart-1 sep-bloque color">aca4</div>
    <div class="p-2 borde chart-1 sep-bloque color">aca5</div>

    
</div>


{% endblock %}